/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/flexbox";

$color: #e8e8e8;
$main-width: 850px;

body {
	background-color: #333333;
	color: $color;
}

main {
	max-width: $main-width;
	margin: auto;
}

.categories {
	> li {
		margin: 1em 0;
		border: 1px solid;
		padding: 0.5em;
		position: relative;
		> div > div {
			margin: 0.3em 0;
		}
	}
}



.flex {
	@include display-flex(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
}

.category-description {
	@extend .flex;
	text-align: center;
	label {
		width: 45%;
		input[type="text"] {
		margin-top: 0.2em;
		display: block;
		width: 100%;
	}
	}
}

.items {
	@extend .flex;
	@include flex-wrap(wrap);	
	width: 100%;
	margin: 0.3em 0;
	li {
		@include flex(1);
		text-align: center;
		input {
			width: 95%;
		}
	}
}


.downloads {
	a {
		display: block;
		padding: 1em 0;
		background-color: blue;
		width: 48%;
		font-size: 1.2em;
		color: inherit;
		text-align: center;
		border-radius: 10px;
		text-decoration: none;
		&:hover {
		background-color: purple;
	}
	}
}

button {
	border: none;
	border-radius: 10px;
	font-size: 1.2em;
	color: inherit;
	background-color: blue;
	&:hover {
		background-color: purple;
	}
	&:disabled {
		background-color: grey;
	}
}

.save {
	display: block;
	width: 100%;
	margin: 0.5em 0;
}

.edit-buttons {
	button {
		width: 32%;
	}
	margin: 0.5em 0;
}

.global-buttons {
	button {
		width: 48%;
	}
	margin: 0.5em 0;
}

.delete-button {
	position: relative;
	left: $main-width - 70;
}
