@import "compass/reset";
@import "compass/css3/flexbox";
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';

$color: #e8e8e8;
$main-width: 850px;
$color-button: blue;
$color-highlighted: purple;
$color-background: #333333;
$color-dark-background: #222222;

body {
	background-color: $color-background;
	color: $color;
}

main {
	max-width: $main-width;
	margin: auto;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: 1em 0;
}

header {
	background-color: $color-dark-background;
	margin-bottom: 1em;
	nav {
		text-align: right;
		ul {
			@include display-flex(inline-flex);
			@include flex-direction(row);
			li {
				display: inline-block;
				a {
					background-color: $color-button;
					&:hover {
						background-color: $color-highlighted;
					}
					border-left: 1px solid black;
					display: inline-block;
					padding: 1em;
					text-decoration: none;
				}
			}

		}
	}
}

a {
	color: inherit;
}

p {
	line-height: 1.3em;
	margin-bottom: 0.5em; 
}

blockquote {
	width: 80%;
	margin: 1em auto;
	text-align: center;
	p {
		display: inline-block;
		margin: auto;
		text-align: left;
	}
}

.categories {
	> li {
		margin: 1em 0;
		border: 1px solid;
		padding: 0.5em;
		position: relative;
		> div > div {
			margin: 0.3em 0;
		}
	}
}

.flex {
	@include display-flex(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
}

.category-description {
	@extend .flex;
	text-align: center;
	label {
		width: 45%;
		input[type="text"] {
			margin-top: 0.2em;
			display: block;
			width: 100%;
		}
	}
}

.class-size-minimum {
	color: green;
}

.class-size-maximum {
	color: red;
}

.items {
	@extend .flex;
	width: 100%;
	margin: 0.3em 0;
	li {
		@include flex(1);
		text-align: center;
		input {
			width: 95%;
		}
	}
}

.button-bar {
	margin: 0.5em 0;
}

button, .downloads a {
	border-radius: 10px;
	font-size: 1.2em;
	color: inherit;
	background-color: $color-button;
	&:hover {
		background-color: $color-highlighted;
	}
}

.downloads {
	a {
		display: block;
		padding: 1em 0;
		width: 48%;
		text-align: center;
		text-decoration: none;
		&.clicked {
			background-color: $color-highlighted;
		}
	}
}

button {
	border: none;
	&:disabled {
		background-color: grey;
	}
}

.save {
	display: block;
	width: 100%;
}

.edit-buttons {
	button {
		width: 32%;
	}
}

.global-buttons {
	button {
		width: 48%;
	}
}

.delete-button {
	position: relative;
	left: calc(100% - 50px);
}

.dropdown-control {
  background-color: $color-dark-background;
  padding: .2em .5em;
  margin-bottom: .1em;
  border-radius: 10px;
}

#dropdown-caret {
  display: inline-block;
  border-radius: 50%;
  padding: .5em .4em .3em .4em;
  margin-left: 1em;
  background-color: $color-button;
  &:hover {
    background-color: $color-highlighted;
  }
  cursor: default;
  -webkit-touch-callout: none;
  @include user-select(none);
}

#dropdown-caret.collapsed {
  @include transform(rotate(90deg));
}

.explanation-dropdown.collapsed {
    display: none;
}
